.wrapper {
  max-width: 300px;
  min-height: 300px;
  border: 3px dashed #007acd;
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
}

.button {
  background-color: #007acd;
  padding: 10px;
  margin: 10px 0;
  color: white;
  border: 0;
  font-size: 100%;
  cursor: pointer;
  outline: none;
  transition: all .2s;
}
  .button:hover {
    background-color: #aaa;
  }

.people-count {
  padding: 10px;
  background-color: #eee;
  margin-bottom: 10px;
}

.person {
  padding: 5px 10px;
}
